<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="menu-icon" name="menu"><ion-badge *ngIf="countNotify>0" class="badge-count">{{countNotify}}</ion-badge></ion-icon>
    </button>
    
      <ion-row no-padding color="light">
        <ion-col class="filter" col-9>
          <ion-select *ngIf="modelTicket.dataLoading==false" [selectOptions]="filterOption" interface="popover" no-padding (ionChange)="doFilter()" [(ngModel)]="modelTicket.filterBy">
            <ion-option *ngFor="let item of arrayFilter"  [value]="item.value">{{item.name+' ('+countList[item.id]+')'}}</ion-option>
          </ion-select>
        </ion-col>
        <ion-col col-3>
          <ion-icon float-right color="light" ios="ios-search" md="md-search" (click)="openModal()"></ion-icon>
          <ion-icon float-right class="padding-icon" color="light" ios="ios-funnel" md="md-funnel" (click)="openPopoverSort($event)"></ion-icon>
          <!-- <ion-icon float-right class="padding-icon" color="light" name="more" (click)="openPopoverChannel($event)"></ion-icon> -->
        </ion-col>
      </ion-row>
      
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-spinner padding margin class="loading-search" *ngIf="modelTicket.dataLoading"  name="crescent"></ion-spinner>
  <ion-list no-padding class="list-ticket">
  <div *ngIf="modelTicket.dataItems.length>0">
  <!-- <div *ngIf="modelTicket.orderBy!='assign_agent' || modelTicket.orderBy!='request'"> -->
  <div *ngIf="modelTicket.orderBy=='assign_agent'">
  <div *ngFor="let item of modelTicket.dataItems|groupBy:'assign_name'">
    <ion-item-divider *ngIf="item.key!='null'">Người xử lý: {{item.key}}</ion-item-divider>
    <ion-item-divider *ngIf="item.key=='null'">Bộ phận xử lý: {{item.value[0].assign_team}}</ion-item-divider>
        <ion-item *ngFor="let child of item.value" (click)="clickTicket(child)">
          <ion-avatar item-start [ngStyle]="{'background-color':'#'+child.date}" class="box-avatar" *ngIf="child.request!==null">{{child.request | firstNlast}}
          </ion-avatar>
          <ion-avatar item-start class="box-avatar" *ngIf="child.request===null">
            ERR
          </ion-avatar>
          <p *ngIf="child.request!==null"><span style="font-size:1.2rem;color:#888888">#{{child.ticket_id}} - {{child.request}}</span></p>
          <p *ngIf="child.request===null"><span style="font-size:1.2rem;color:#888888">#{{child.ticket_id}} - Chưa có người yêu cầu</span><p>
          <p class="title-ticket" *ngIf="child.title!==''" >{{child.title}}</p>
          <p class="title-ticket" *ngIf="child.title===''" >Chưa có tiêu đề</p>
          <p class="date-ticket" item-end>
            <span *ngFor=" let stt of status" >
              <ion-badge *ngIf="stt.value===child.status" color="{{stt.value}}">{{stt.alias}}</ion-badge>
            </span>
            <br><span *ngIf="modelTicket.orderBy!='dateupdate'">{{child.created_at| toTime2}}</span><span *ngIf="modelTicket.orderBy=='dateupdate'">{{child.dateupdate| toTime2}}</span>
          </p>
        </ion-item>
  </div>
  </div>
  <div *ngIf="modelTicket.orderBy!='assign_agent'">
    <ion-card *ngFor="let item of modelTicket.dataItems" (click)="clickTicket(item)">
      <ion-item>
          <ion-avatar item-start [ngStyle]="{'background-color':'#'+item.date}" class="box-avatar" *ngIf="item.request!==null">{{item.request | firstNlast}}
          </ion-avatar>
          <ion-avatar item-start class="box-avatar" *ngIf="item.request===null">
            ERR
          </ion-avatar>
          <p *ngIf="item.request!==null"><span style="font-size:1.2rem;color:#888888">#{{item.ticket_id}} - {{item.request}}</span></p>
          <p *ngIf="item.request===null"><span style="font-size:1.2rem;color:#888888">#{{item.ticket_id}} - Chưa có người yêu cầu</span><p>
          <p class="title-ticket" *ngIf="item.title!==''" >{{item.title}}</p>
          <p class="title-ticket" *ngIf="item.title===''" >Chưa có tiêu đề</p>
          <p class="date-ticket" item-end>
            <span *ngFor=" let stt of status" >
              <ion-badge *ngIf="stt.value===item.status" color="{{stt.value}}">{{stt.alias}}</ion-badge>
            </span>
            <br><span *ngIf="modelTicket.orderBy!='dateupdate'">{{item.created_at| toTime2}}</span><span *ngIf="modelTicket.orderBy=='dateupdate'">{{item.dateupdate| toTime2}}</span>
          </p>
      </ion-item>
    </ion-card>
  </div>
  </div>
  
  <ion-card *ngIf="modelTicket.dataItems.length<=0 && !modelTicket.dataLoading">
    <ion-item >
      <p>Không tìm thấy dữ liệu</p>
    </ion-item>
  </ion-card>
  </ion-list>
  <!-- <ion-infinite-scroll *ngIf="modelTicket.loadMore" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-row>
    <ion-col col-12 text-center>
      <!-- <button text-center class="no-background" ion-button (click)="doLoadMore($type='back')">Back</button> -->
      <button text-center class="no-background" ion-button *ngIf="modelTicket.loadMore" (click)="doLoadMore($type='next')">Next</button>       
    </ion-col>

  </ion-row>
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
  <ion-refresher *ngIf="modelTicket.dataLoading==false" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>




