page-login {
	.login-background{
		//background-color:#2cd094;
		background:#0a844c;
	}
	.img-midesk{
		margin:0 auto;
		padding-bottom:10%;
		width:70%;
	}
	// .scroll-content{
	// 	text-align: center;
	// 	display:flex;
	// 	flex-direction:column;
	// 	justify-content:center;
	// 	padding:0!important;
	// }
	// ion-card.card{
	// 	background:rgba(232,230,230,0.6);
	// 	border-radius:5px;
	// }
	// .item{
	// 	background: rgba(232,230,230,0px);
	// }
	.scroll-content{
		align-content:center;
		display:flex;
		flex-direction:column;
		justify-content:center;
		text-align:center;
		padding:0!important;
	}
	ion-card.card{
		box-shadow: none;
		//background: rgba( 0 , 0 , 0 , 0.5 );
		background: rgb(248,248,255);
		border-radius:5px;
	}
	ion-card-header b{
		color:#0a844c;
	}
	a, p,
	{
		color:#FFF;
	}
	.list > .item-block:first-child{
		border:medium none;
	}

	.item{
		margin-bottom:10px;
		//background:rbga(255,255,255,0.5);
		background:hsla(0, 100%, 90%,0);
		border:medium none;
		.text-input,
		input::moz-placeholder{
			color: #FFF!important;
		}
	}
	.item-input:last-child{
		border:none!important;
	}
	.label-md,.label-ios{
		margin:0!important;
	}
	.text-input-md,.text-input-ios{
		margin:0 0 10px 0!important;
	}
	.item-md{
		padding-left:0!important;
	}
	.card-header-md,.card-header-ios{
		padding: 16px 16px 10px 16px!important;
	}
	
}
