<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>438029741002-eajlmugp05euallb9ma732oed560o8b9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438029741002-eajlmugp05euallb9ma732oed560o8b9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>438029741002-podsu7q7nag83boj9q9qbqupamgiuh64.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqZNrbZFAAsDluQv0EDZRmq4yz2U9b6KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>438029741002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>midesk.mitek.vn</string>
	<key>PROJECT_ID</key>
	<string>midesk-a5edc</string>
	<key>STORAGE_BUCKET</key>
	<string>midesk-a5edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438029741002:ios:897b5759d9d1eaa7</string>
	<key>DATABASE_URL</key>
	<string>https://midesk-a5edc.firebaseio.com</string>
</dict>
</plist>