page-macro-detail {
    .send-icon{
		font-size:4.0rem;
    }
    ion-badge{
        line-height: 12px;
        padding:3px 6px;
        color:#FFF!important;
    }
    .title{
        margin:4px 0;
        font-weight: 500;
    }
    .badge-ios{
        border-radius: 2px;
    }
}
