<ion-header>

  <ion-navbar>
  	<ion-buttons><button ion-button menuToggle><ion-icon name="menu"></ion-icon></button></ion-buttons>
		<ion-title>Liên Hệ</ion-title>
		<ion-buttons end><button (click)="openSearchContact()" ion-button><ion-icon name="search"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
	<div padding *ngIf="loading">
		<ion-spinner text-center name="crescent"></ion-spinner>
	</div>
	<ion-list *ngIf="!loading">
		<ion-item *ngFor=" let item of modelContact.dataItems " (click)="contactProfile(item)">
			<ion-avatar item-start class="customer-avatar margin-vertical" *ngIf="item.fullname!==null" [ngStyle]="{'background':item.color}">{{item.fullname|firstNlast}}</ion-avatar>
			<ion-avatar item-start class="customer-avatar margin-vertical" *ngIf="item.fullname===null" [ngStyle]="{'background':item.color}">{{item.customer_name|firstNlast}}</ion-avatar>
			<p class="name" *ngIf="item.fullname!==null">{{item.fullname}}</p>
			<!-- <p class="phone"><span *ngIf="item.customer_name!=='' && item.customer_name!==null">{{item.customer_name}}</span><span *ngIf="item.phone==='' || item.phone===null">chưa có</span></p> -->
			<p *ngIf="item.relation_title!==null" class="relation" item-end><span [ngStyle]="{'background':item.relation_color}">{{item.relation_title}}</span></p>
			<p class="phone"><span *ngIf="item.phone!=='' && item.phone!==null">Điện thoại: {{item.phone}}</span><span *ngIf="item.phone==='' || item.phone===null">Email: {{item.email}}</span></p>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll *ngIf="modelContact.loadMore" (ionInfinite)="doInfinite($event)">
	    <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
	<ion-refresher *ngIf="!loading" (ionRefresh)="doRefresh($event)">
	    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
</ion-content>
<ion-footer no-lines>
	<ion-buttons (click)="openAddContact()" float-right style="padding:0 5px 5px 0"><button class="btn-add-customer"><ion-icon name="person-add"></ion-icon></button></ion-buttons>
</ion-footer>
